.aligncenter {
  display: block;
  margin: 0 auto;
}

.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .bypostauthor {

}

div[id^="attachment_"] {
  max-width: 100%;
}

.pager a.older {
  float: right;
}

form.search-form .screen-reader-text {
  display: none;
}