RewriteEngine On
RewriteCond %{HTTP_HOST} ^http://sarthak.co$
RewriteRule (.*) http://www.sarthak.co$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [L,R=301] 



